body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
}
header{
    background-image: url(/src/image/donation13.jpg);
    background-size: cover;
    height: 700px;
}
header .header_continer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #0c0c0ce0,#18181880 ,#0e0e0e00 , #00000000 );
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    height: 100%;
}
header .header_continer .title{
    width: 850px;

}
header .header_continer .title .title_text{
    color: #FFF;
    font-size: 65px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.4;

}
header .header_continer .title .description{
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    width: 650px;
    margin: auto;
    margin-bottom: 50px;
}
header .header_continer .title .h_link{
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    background-color: #ff4c3c;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba( 0, 0, 0, 0.2);
    padding: 15px 25px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}



section .section_container{
    margin: 100px 80px;
}
section .section_container .donate_container{
    width: 900px;
    height: auto;
    text-align: center;
    margin: auto;

}
section .section_container .donate_container .title_text{
    font-size: 45px;
    font-weight: 600;
    margin: 0;
    color: #121212;

}
section .section_container .donate_container .description{
    width: 650px;
    margin: 0px auto 40px auto;
    color: #707070;

}

section .section_container .donate_container .donate_section .amount_list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
section .section_container .donate_container .donate_section .amount_list_item{
    list-style-type: none;
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: #ff4c3c00;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 600;
    width: 150px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3   0px 0;
    cursor: pointer;
    transition:  background-color ease-in .5s ;


}
section .section_container .donate_container .donate_section .amount_list_item:hover{
    background-color: #ff4c3c15;
    border: 2px solid #fd6969;
}
section .section_container .donate_container .donate_section .amount_list_item:hover a{
    color: #fd6969;
}
section .section_container .donate_container .donate_section .amount_list_item a{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section .section_container .donate_container .donate_section input{
    border: none;
    border-bottom: 1px solid #afafaf;
    outline: none;
    text-align: center;
    color: #ff4c3c;
    width: 90%;
    margin: 20px 0 40px 0;
    font-size: 25px;
    padding: 15px 25px;
}
section .section_container .donate_container .donate_section a{
    text-decoration: none;
    color: #707070;

}
section .section_container .donate_container .donate_section .h_link{
    
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    background-color: #ff4c3c;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba( 0, 0, 0, 0.2);
    padding: 15px 25px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 80px;
}
section .section_container .plane_container{
    width: 1120px;
    height: auto;
    text-align: center;
    margin: auto;
}
section .section_container .plane_container .title_text{
    font-size: 45px;
    font-weight: 600;
    margin: 20px;
    color: #121212;

}
section .section_container .plane_container .description{
    width: 650px;
    margin: auto;
    margin-bottom: 80px;
    color: #707070;

}




section .section_container .plane_container .donation_planes{
    display: flex;
    justify-content: space-between;
}

section .section_container .plane_container .donation_planes .donate_plane_cards{
    display: flex;
    align-items: center;
    height: 350px;
    width: 350px;
    box-shadow: 0 10px 35px rgba( 0, 0, 0, 0.2);
    border-radius: 5px;
}
.card1{
    background-color: #edf5f6;
}
.card2{
    background-color: #ffeeee;
}
.card3{
    background-color: #fff4d6;
}
section .section_container .plane_container .donation_planes .card_container{
    text-align: start;
    padding: 30px;
}
section .section_container .plane_container .donation_planes .card_container img{
    margin-bottom: 30px;
}
section .section_container .plane_container .donation_planes .card_container .card_title{
    font-size: 20px;
    font-weight: 600;
    color: #121212;
}
section .section_container .plane_container .donation_planes .card_container .card_description{
    text-align: justify;
    font-size: 15px;
    color: #707070;
}

section .section_container .activity_log_container{
    width: 1120px;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
section .section_container .activity_log_container .activity_title_text{
    font-size: 45px;
    font-weight: 600;
    margin: 0;
    color: #121212;

}
section .section_container .activity_log_container .activity_log{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;

}
section .section_container .activity_log_container .activity_log .activity_items{
    width: 200px;
    height: 280px;
    background-image: linear-gradient(to right top, #edf5f6, #edf4f9, #eff3fa, #f4f1fa, #faeff6, #fdeef2, #ffeeee, #ffeee9, #ffeee4, #fff0df, #fff1da, #fff4d6);
    border-radius: 20px;
    box-shadow: 0 10px 35px rgba( 0, 0, 0, 0.2);
    cursor: pointer;

}
section .section_container .activity_log_container .activity_log .activity_items img{
    margin-top: 15px;
    padding: 20px;background-color: #ff4c3c15;
    border: 2px solid #fd6969;
    border-radius: 20px;


}
section .section_container .activity_log_container .activity_log .activity_items .headline{
    color: #121212;
    font-size: 35px;
    font-weight: 400;
    margin: 0;

}
section .section_container .activity_log_container .activity_log .activity_items .title{
    color: #121212;

}
section .section_container .activity_log_container .link_btn{
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    background-color: #ff4c3c;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba( 0, 0, 0, 0.2);
    padding: 15px 25px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
}
section .section_container .about_container{
    width: 1120px;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
section .section_container .about_container .more_about{
    display: flex;
    justify-content: space-around;
}
section .section_container .about_container .more_about .half_width{
    width: 30vw;
}
section .section_container .about_container .more_about .text_area{
    text-align: start;
    width: 40vw;
    margin-left: 35px;
}
section .section_container .about_container .more_about .text_area .title{
    font-size: 45px;
    font-weight: 600;
    color: #121212;
    border-left: 10px solid #ff4c3c;
    padding-left: 20px;
}
section .section_container .about_container .more_about .text_area p{
    color: #707070;
}
section .section_container .about_container .more_about img{
    width: 30vw;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba( 0, 0, 0, 0.2);
}
section .section_container .about_container .more_about .link_btn {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    background-color: #ff4c3c;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba( 0, 0, 0, 0.2);
    padding: 15px 25px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

section .section_container .contact_section{
    background-image: linear-gradient(to right top, #edf5f6, #edf4f9, #eff3fa, #f4f1fa, #faeff6, #fdeef2, #ffeeee, #ffeee9, #ffeee4, #fff0df, #fff1da, #fff4d6);
    border-radius: 20px;
    box-shadow: 0 10px 35px rgba( 0, 0, 0, 0.2);
    width: 100%;
    margin-top: 100px;
}
section .section_container .contact_section .contact_container{
    width: 1120px;
    height: auto;
    text-align: center;
    margin: 40px auto;
    padding: 50px 0;
}
section .section_container .contact_section .contact_container .contact_title{
    font-size: 45px;
    font-weight: 600;
    margin: 0;
    color: #121212;
}
section .section_container .contact_section .contact_container .description{
    
    margin: 25px 0;
    color: #707070;
}

section .section_container .contact_section .contact_container{

}
section .section_container .contact_section .contact_container .inputs{

}
section .section_container .contact_section .contact_container .inputs .text_input{

}
section .section_container .contact_section .contact_container .inputs .text_input input{
    width: 30vw;
    padding: 15px 25px;
    font-size: 20px;
    outline: none;
    border: none;
    color: #ff4c3c;
    border-bottom: 2px solid #ff4c3c;
    border-left: 2px solid #ff4c3c;
    border-radius: 5px;
    margin: 20px;
    background-color: transparent;
    box-shadow: inset 0px 0px 25px rgba(255, 77, 45, 0.1);
}
section .section_container .contact_container .inputs a{
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    background-color: #ff4c3c;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba( 0, 0, 0, 0.2);
    padding: 15px 25px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;

}